<h1> Curso Angular </h1>

<p *ngIf="!isAvailable; else available">Lanzamiento: {{ launchDate | date:"dd/MM/y" }}</p>
<ng-template #available>
  <span class="highlight"> Curso disponible </span>
</ng-template>

<div class="category" [ngSwitch]="category">
  <span *ngSwitchCase="'web'">Desarrollo web</span>
  <span *ngSwitchCase="'mobile'">Desarrollo móvil</span>
  <span *ngSwitchCase="'other'">Desarrollo general</span>
  <span *ngSwitchDefault>No especificado</span>
</div>

<h3 redBorder [color]="'blue'" [background]="'cyan'">Tutor: {{name}}</h3>

<div [@showUp]="moreInfo">
  <a (click)="showMoreInfo()"> Más información
    <i class="fa"
    [ngClass]="{'fa-chevron-circle-down': !moreInfo, 'fa-chevron-circle-up': moreInfo}"></i>
  </a>
  <p *ngIf="moreInfo">
    <span style="display:block;font-weight:bold;">{{ seconds | secondsToTimeFormat}}</span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>

<ul>
  <li *ngFor="let topic of topics; index as position">  {{position+1}}.- {{topic}} </li>
</ul>

<div>
  <button
  [disabled]="!isAvailable"
  [ngClass]="{active: !isAvailable && subscribed, shadow: isAvailable}"
  type="button" name="button">Registrar  {{price | currency:"MXN"}}</button>
</div>
